:root{
    --blanco:#ffffff;
    --negro:#212121;
    --azul_1:#00abfb;
    --gris_1:#757575;


}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px; 
    font-family: 'Krub', sans-serif;
}

header{
    background-color:var(--negro);
    color: #ffffff;
    border: solid;
    margin: 0;
    padding: 0;
    text-align: right;
}

.titulo{
    text-align: center;
    font-size: 2rem;
  
}

.tiutlo span{
    font-size: 20rem;
    
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--azul_1);
}


.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem;
}

.navegacion-principal a:hover{
    background-color: rgba(7, 7, 236, 0.541);
    color:rgb(8, 0, 255) ;
}
    

